.cls-home{
    background-color: transparent !important;

    .container-box{
        background-color: transparent !important;
    }
}

.cls-home>div{
    background-color: transparent !important;

    .table-wrapper{
        background-color: transparent;
    }
}