<div [ngClass]="getContainerClass()">
  <p *ngIf="inputData.hasTopLabel" class="top-label">
    {{ inputData.label }}
  </p>

  <ng-container *ngIf="inputData.extraLeftComponent">
    <ng-container *ngComponentOutlet="inputData.extraLeftComponent"></ng-container>
  </ng-container>

  <div class="inp-pass">
    <input
      [type]="showPassword ? 'text' : 'password'"
      [id]="inputData.id"
      class="arsa-input"
      [ngClass]="{ 'round-error': inputData.hasError }"
      [value]="inputData.value || ''"
      [placeholder]="inputData.placeholder"
      [attr.maxlength]="inputData.maxLength || 100"
      [name]="inputData.name"
      [disabled]="inputData.disabled || false"
      (input)="handleChange($event)"
      (blur)="handleBlur($event)"
    />

    <button
      type="button"
      *ngIf="inputData.hasEye"
      class="eye"
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
    >
      <span class="material-icons outlined">{{ showPassword ? 'visibility_off' : 'visibility' }}</span>
    </button>
  </div>

  <ng-container *ngIf="inputData.extraComponent && !inputData.hasEye">
    <ng-container *ngComponentOutlet="inputData.extraComponent"></ng-container>
  </ng-container>
</div>

<p *ngIf="inputData.required && inputData.hasError" class="error">
  {{ inputData.errorMessage }}
</p>
